attached_assets/IMG_0055_1774846943981.mov filter=lfs diff=lfs merge=lfs -text
attached_assets/IMG_1193_1775487474740.mov filter=lfs diff=lfs merge=lfs -text
attached_assets/IMG_0055_1775875972206.mov filter=lfs diff=lfs merge=lfs -text
attached_assets/IMG_0063_1775875972206.mov filter=lfs diff=lfs merge=lfs -text
